@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/responsive";

.contactRow{
    padding: 25px;
    background-color: $amarillo;
}

.iframeMaps{
    border-radius: 25px 25px 25px 25px;
    
    
    @include tablet {
        margin-top: 20px;
    }

    @include movil {
        margin-top: 20px;
    }
}

.contactTitle{
    font-size: 5vh;
}

.contactField{
    border-radius: 10px 10px 10px 10px;
    margin: 10px 10px 10px 0px;
    width: 25vw;

    @include tablet {
        width: 65vw;
    }

    @include movil {
        width: 65vw;
    }
}